<!-- Features supported -->
<div class="mb-5">
  <nb-layout-column>
    <h2 class="display-3 fw-bold mb-4">Features</h2>

    <!-- Feature one -->
    <div class="row gap-4 mb-5" appLazyLoad>
      <div class="col-md d-flex flex-column justify-content-center">
        <h4 class="mt-3 mb-4">Upload your LinkedIn profile</h4>
        <p class="lead text-left lh-sm">
          Share your LinkedIn profile to let our AI system analyze your skills
          and experiences, forming the basis for your custom cover letter.
        </p>
      </div>
      <div class="col-md">
        <img
          ngSrc="../../../assets/img/load-linkedin-profile.png"
          class="img-fluid rounded"
          width="1000"
          height="800"
          alt="Upload Your LinkedIn Profile in DodoDraft"
        />
      </div>
    </div>

    <!-- Feature two -->
    <div class="row gap-4 mb-5" appLazyLoad>
      <div class="col-md">
        <img
          ngSrc="../../../assets/img/optimize-profile.png"
          class="img-fluid rounded"
          width="1000"
          height="800"
          alt="AI-Assisted Resume Improvement"
        />
      </div>
      <div class="col-md d-flex flex-column justify-content-center">
        <h4 class="mt-3 mb-4">AI-Assisted Resume Improvement</h4>
        <p class="lead text-left lh-sm">
          Our smart technology analyzes your resume and provides actionable
          suggestions for enhancement.
        </p>
      </div>
    </div>

    <!-- Feature three -->
    <div class="row gap-4 mb-5" appLazyLoad>
      <div class="col-md d-flex flex-column justify-content-center">
        <h4 class="mt-3 mb-4">Tailored Cover Letter Suggestions</h4>
        <p class="lead text-left lh-sm">
          Generate cover letters that match the specific needs of your job
          proposals.
        </p>
      </div>
      <div class="col-md">
        <img
          ngSrc="../../../assets/img/cover-letter-proposal.png"
          class="img-fluid rounded"
          width="1000"
          height="800"
          alt="Tailored Cover Letter Suggestions"
        />
      </div>
    </div>
  </nb-layout-column>
</div>
