<nb-layout>
  <nb-layout-column class="p-0">
    <h2>
      {{'proposal.create.title' | translate}}
    </h2>

    <p class="lh-base">
      <span class="fw-bold">
        {{'proposal.create.start' | translate}}
      </span>
      {{'proposal.create.hint' | translate}}
    </p>

    <div class="mt-4">
      <app-proposal-form [loading]="(loading$ | async) ?? false || (saving$ | async) ?? false"
                         [profile]="profile$ | async"
                         (save)="saveProposal($event.id, $event.job)">
      </app-proposal-form>
    </div>
  </nb-layout-column>
</nb-layout>
