<form (ngSubmit)="save()"
      [formGroup]="formCertification">
  <nb-card>
    <nb-card-header>
      <h6>
        {{'profile.profile-form.certification-section.title' | translate}}
      </h6>
    </nb-card-header>
    <nb-card-body>
      <div class="row g-2">
        <div class="col">
          <label for="certification" class="label">
            {{'profile.profile-form.certification-section.title' | translate}}
          </label>
          <input nbInput fullWidth
                 id="certification"
                 type="text"
                 fieldSize="large"
                 maxlength="100"
                 formControlName="certification">
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end">
        <button nbButton
                type="button"
                status="basic"
                class="me-2"
                (click)="cancel()">
          {{'profile.profile-form.cancel' | translate}}
        </button>
        <button nbButton
                status="primary"
                type="submit"
                [disabled]="formCertification.invalid">
          {{'profile.profile-form.save' | translate}}
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
