<div class="mb-4">
  <app-dropzone
    (selectFile)="selectFile($event)"
    (removeFile)="removeFile()"
  >
  </app-dropzone>
</div>
<p class="text-hint paragraph-2 lh-base"
   [innerHTML]="'profile.upload.accept-files' | translate">
</p>
<p class="text-hint paragraph-2 lh-base">
  {{'profile.upload.learn-how' | translate}}
  <a href="https://www.linkedin.com/help/linkedin/answer/a541960/save-a-profile-as-a-pdf"
     target="_blank">
    {{'profile.upload.click-here' | translate}}
  </a>.
</p>
