<div class="mb-4">
  <app-dropzone
    (selectFile)="selectFile($event)"
    (removeFile)="removeFile()"
  >
  </app-dropzone>
</div>
<p class="text-hint paragraph-2 lh-base">
  Please note that we currently only accept files that have been exported from <strong>LinkedIn</strong>. However, we
  are diligently working on broadening the range of acceptable file formats to accommodate more options.
</p>
<p class="text-hint paragraph-2 lh-base">
  To learn how to export your profile from LinkedIn, please <a
  href="https://www.linkedin.com/help/linkedin/answer/a541960/save-a-profile-as-a-pdf" target="_blank">click here</a>.
</p>
