<nb-layout>
  <nb-layout-column>
    <div class="row">
      <div class="col-md-3">
        <nb-card>
          <nb-card-body>
            <strong>
              Languages
            </strong>
            <ul>
              <li>
                English (Full Professional)
              </li>
              <li>
                Spanish (Native or Bilingual)
              </li>
            </ul>
            <strong>
              Certifications
            </strong>
            <ul>
              <li>
                IBM Blockchain Foundation for
                Developers
              </li>
              <li>
                Oracle Certified Professional, Java
                SE 6 Programmer
              </li>
              <li>
                Web Application Architectures
              </li>
            </ul>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-9">
        <nb-card>
          <nb-card-body>
            <p class="h3">
              Alexander Ospina
            </p>
            <p class="subtitle">
              Full Stack Developer
            </p>
            <nb-tag-list [multiple]="true">
              <nb-tag text="Angular">
              </nb-tag>
              <nb-tag text="NativeScript">
              </nb-tag>
              <nb-tag text="Ruby on Rails">
              </nb-tag>
            </nb-tag-list>
            <h4>Summary</h4>
            <p>
              Welcome! I am a senior software developer graded as system engineer with more than 10+ years of experience in software development.
              I have experience working in many technologies. Those include Java , NativeScript, Rails, Javascript, Angular, MongoDB, PostgreSQL, Java and others.
              I have experience working on green field projects and ongoing applications.
              "Beyond of my technical skills I consider myself a commitment, responsible, friendly and hard worker person."
            </p>
            <h4>
              Experience
            </h4>
            <h5>
              Worldly
            </h5>
            <h6>
              Software Developer
            </h6>
            <p>
              Worldly is the home of the Higg Index and more. As the planet’s most comprehensive impact intelligence platform, Worldly delivers real data specific to your supply chain, products, and operations — all in one place, so you can know your true impact
            </p>
            <p>
              4 years of experience
            </p>
            <h4>Education</h4>
            <p>
              Universidad Santiago de Cali
            </p>
            <p>
              Engineer's degree, Computer Science · (2000 - 2008)
            </p>
            <br>
            <p>
              Universidad de San Buenaventura
            </p>
            <p>
              Enterprise application on JEE, Computer Software Technology
            </p>
            <p>
              Technician · (2009 - 2009)
            </p>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
