<form (ngSubmit)="save()"
      [formGroup]="formExperience">
  <nb-card>
    <nb-card-header>
      <h6>
        Experience
      </h6>
    </nb-card-header>
    <nb-card-body>
      <div class="row g-2">
        <div class="col-md-6 col-sm-12">
          <label for="company" class="label">
            Company
          </label>
          <input nbInput fullWidth
                 id="company"
                 type="text"
                 fieldSize="large"
                 formControlName="company">
        </div>
        <div class="col-md-6 col-sm-12">
          <label for="position" class="label">
            Position
          </label>
          <input nbInput fullWidth
                 id="position"
                 type="text"
                 fieldSize="large"
                 formControlName="position">
        </div>
        <div class="col-sm-12">
          <label for="description" class="label">
            Description (Optional)
          </label>
          <textarea nbInput fullWidth
                    id="description"
                    rows="4"
                    fieldSize="large"
                    formControlName="description"></textarea>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end">
        <button nbButton
                type="button"
                status="basic"
                class="me-2"
                (click)="cancel()">
          Cancel
        </button>
        <button nbButton
                status="primary"
                type="submit"
                [disabled]="formExperience.invalid">
          Save
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
