<h1 class="fw-bold mb-3">
  {{'faq.title' | translate}}
</h1>

<p class="lead mb-5">
  {{'faq.quick-guide' | translate}}
</p>

<nb-accordion>
  <nb-accordion-item expanded>
    <nb-accordion-item-header>
      <span class="lead text-warning-300">
        {{'faq.what-is' | translate}}
      </span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <p class="lead lh-sm">
        {{'faq.what-is-description' | translate}}
      </p>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      <span class="lead text-warning-300">
        {{'faq.differ' | translate}}
      </span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <p class="lead lh-sm">
        {{'faq.differ-description' | translate}}
      </p>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      <span class="lead text-warning-300">
        {{'faq.profile-publicly' | translate}}
      </span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <p class="lead lh-sm">
        {{'faq.profile-publicly-description' | translate}}
      </p>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      <span class="lead text-warning-300">
        {{'faq.uploaded-stored' | translate}}
      </span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <p class="lead lh-sm">
        {{'faq.uploaded-stored-description' | translate}}
      </p>
    </nb-accordion-item-body>
  </nb-accordion-item>

</nb-accordion>
