<h1 class="fw-bold mb-3">
  FAQ
</h1>

<p class="lead mb-5">
  Quick Guide: Find Answers to Your Frequently Asked Questions Here
</p>

<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      <span class="lead color-warning-300">
        What is DodoDraft and how does it work?
      </span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <p class="lead lh-sm">
        DodoDraft is an artificial intelligence-based text generator that creates unique job proposals tailored to your
        LinkedIn profile. It's commonly used to apply for freelance projects or job offers. You can choose to include or
        exclude your professional experiences, certifications, or languages in the context of your cover letter.
      </p>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      <span class="lead color-warning-300">
        How does DodoDraft differ from other cover letter generators?
      </span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <p class="lead lh-sm">
        Have you ever spent hours crafting winning proposals for your clients or companies? DodoDraft's main goal is to
        save your time by creating unique job or project proposals that perfectly match your LinkedIn profile. Instead of
        generic proposals, we offer context-driven ones that align with the project and profile. Plus, you can exclude any
        irrelevant information such as unrelated job experiences or certifications.
      </p>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      <span class="lead color-warning-300">
        Is my profile publicly visible?
      </span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <p class="lead lh-sm">
        Your profile is securely stored in our databases and is not shared with any external companies or clients for any reason.
      </p>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      <span class="lead color-warning-300">
        Is my uploaded LinkedIn profile stored in any file system?
      </span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <p class="lead lh-sm">
        Your PDF profile is completely removed from our system once the information is extracted.
      </p>
    </nb-accordion-item-body>
  </nb-accordion-item>

</nb-accordion>
