@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.custom-layout {
  padding: 0 !important;
}

.content-wrapper {
  width: 100%;
  max-width: calc(100% - 400px);
  margin-left: 0;
  padding: 0 !important;
}

@include media-breakpoint-down(xxl) {
  .content-wrapper {
  }
}

@include media-breakpoint-down(xl) {
  .content-wrapper {
  }
}

@include media-breakpoint-down(lg) {
  .content-wrapper {
  }
}

@include media-breakpoint-down(md) {
  .content-wrapper {
  }
}

@include media-breakpoint-down(sm) {
  .content-wrapper {
  }
}

