<nb-layout>
  <nb-sidebar [fixed]="true"
              [state]="'expanded'"
              [containerFixed]="true"
              [responsive]="false"
              [right]="true">
    <app-proposal-form [job]="job$ | async"
                       [loading]="(loading$ | async) ?? false || (saving$ | async) ?? false"
                       [profile]="profile$ | async"
                       [reset]="reset$ | async"
                       (save)="saveProposal($event.id, $event.job)">
    </app-proposal-form>
  </nb-sidebar>

  <nb-layout-column class="custom-layout">
    <h1>
      Create Proposal
    </h1>

    <div class="content-wrapper">

      <div class="alert alert-primary" role="alert" *ngIf="(job$ | async) === null">
        <h6 class="alert-heading">Start here!</h6>
        <p>
          Making a strong proposal can help you get jobs or projects. We help you make a cover letter that shows what makes you special. We match your skills with what the job needs, so your proposal makes sense and convinces potential employers
        </p>
      </div>

      <app-proposal-list [job]="job$ | async"
                         [loading]="(loading$ | async) ?? false"
                         [saving]="(saving$ | async) ?? false"
                         (delete)="deleteProposal($event.job, $event.proposal)">
      </app-proposal-list>
    </div>
  </nb-layout-column>
</nb-layout>
