<nb-layout>
  <nb-sidebar [fixed]="true"
              [state]="'expanded'"
              [containerFixed]="true"
              [responsive]="false"
              [right]="true">
    <app-proposal-form [job]="job$ | async"
                       [loading]="(loading$ | async) ?? false || (saving$ | async) ?? false"
                       [profile]="profile$ | async"
                       [reset]="reset$ | async"
                       (save)="saveProposal($event.id, $event.job)">
    </app-proposal-form>
  </nb-sidebar>

  <nb-layout-column class="custom-layout">
    <h1>
      Create Proposal
    </h1>

    <div class="content-wrapper">

      <div class="alert alert-primary" role="alert" *ngIf="(job$ | async) === null">
        <h6 class="alert-heading">Start here!</h6>
        <p>
          Crafting a compelling proposal is often the key to securing jobs or projects. That's why we assist you in creating a tailored cover letter that truly reflects your unique profile. This includes incorporating your experience, education, and certifications, to create a holistic representation of your capabilities. To ensure consistency, we automatically align your skills with those requested in the proposal, presenting a coherent and persuasive case to potential employers.
        </p>
      </div>

      <app-proposal-list [job]="job$ | async"
                         [loading]="(loading$ | async) ?? false"
                         [saving]="(saving$ | async) ?? false"
                         (delete)="deleteProposal($event.job, $event.proposal)">
      </app-proposal-list>
    </div>
  </nb-layout-column>
</nb-layout>
