<nb-layout>
  <nb-sidebar [fixed]="true"
              [state]="'expanded'"
              [containerFixed]="true"
              [responsive]="false">
    <app-proposal-form [job]="job$ | async"
                       [loading]="(loading$ | async) ?? false || (saving$ | async) ?? false"
                       [profile]="profile$ | async"
                       [reset]="reset$ | async"
                       (save)="saveProposal($event.id, $event.job)">
    </app-proposal-form>
  </nb-sidebar>

  <nb-layout-column class="p-0 custom-layout">
    <h2>
      Create Proposal
    </h2>

    <p class="pb-4 lead" *ngIf="(job$ | async) !== null">
      Having a robust, personalized proposal often makes the difference in the competitive job market.
    </p>

    <div class="content-wrapper">

      <div class="mt-4" role="alert" *ngIf="(job$ | async) === null">
        <p class="lead lh-sm">
          <span class="fw-bold">Start here!</span>
          Making a strong proposal can help you get jobs or projects. We help you make a cover letter that shows what
          makes you special. We match your skills with what the job needs, so your proposal makes sense and convinces
          potential employers
        </p>
      </div>

      <app-proposal-list [job]="job$ | async"
                         [loading]="(loading$ | async) ?? false"
                         [saving]="(saving$ | async) ?? false"
                         (delete)="deleteProposal($event.job, $event.proposal)">
      </app-proposal-list>
    </div>
  </nb-layout-column>
</nb-layout>
