@use "themes" as *;
@use "@nebular/theme/styles/globals" as *;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

@include nb-install() {
  @include nb-theme-global();
}

/* You can add global styles to this file, and also import other style files */
.content-center {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

nb-card {
  border-radius: 0.5rem;
}

.label {
  margin-bottom: 0.5rem;
}

@include media-breakpoint-down(lg) {
  nb-dialog-container {
    width: calc(100vw - 2rem);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loaded-content {
  animation: fadeInUp 2s ease-out;
}
