@use "@nebular/theme/styles/globals" as *;
@use "src/styles/themes" as *;

@include nb-install() {
  @include nb-theme-global();
}

/* You can add global styles to this file, and also import other style files */
.content-center {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.layout-container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

nb-card {
  border-radius: 0.5rem;
}

