<p>
  Every job proposal we create is meticulously tailored and crafted to be original and matched your profile.
</p>
<nb-card>
  <nb-card-body>
    <ngx-dropzone class="custom-dropzone"
                  accept="application/pdf"
                  [multiple]="false"
                  [maxFileSize]="100000"
                  (change)="onSelect($event)"
    >
      <ngx-dropzone-label>
        <div class="dropzone">
          <div class="upload-icon-wrapper">
            <nb-icon icon="cloud-upload-outline"></nb-icon>
          </div>
          <h6>
            Drag and drop your profile here or click to upload
            <br>
            <span class="subtitle text-hint">
            PDF File
          </span>
          </h6>
        </div>
      </ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>
          <nb-icon icon="file-text-outline"></nb-icon>
          {{ f.name }}
        </ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </nb-card-body>
</nb-card>
<p class="text-hint">
  Please note that we currently only accept files that have been exported from <strong>LinkedIn</strong>. However, we are diligently working on broadening the range of acceptable file formats to accommodate more options.
</p>
<p class="text-hint">
  To learn how to export your profile from LinkedIn, please <a href="https://www.linkedin.com/help/linkedin/answer/a541960/save-a-profile-as-a-pdf" target="_blank">click here</a>.
</p>
