<!-- Final CTA -->
<div>
  <nb-layout-column class="text-center">
    <h1 class="display-5 fw-bold mb-4">Ready to stand out from the crowd?</h1>
    <p class="lead mb-4 lh-sm">
      Create your profile now and take the first step towards your dream job.
    </p>
    <div class="text-center mt-3 mb-5">
      <button
        nbButton
        size="giant"
        shape="semi-round"
        status="success"
        type="button"
      >
        Create Now!
      </button>
    </div>
  </nb-layout-column>
</div>
