<nb-card>
  <nb-card-body class="m-4">
    <h6 class="mb-4">
      Angular Developer
      <div class="edit-wrapper">
        <button nbButton ghost status="primary" size="small" shape="round" class="me-1">
          <nb-icon icon="edit-outline"></nb-icon>
        </button>
        <button nbButton ghost status="primary" size="small" shape="round">
          <nb-icon icon="trash-outline"></nb-icon>
        </button>
      </div>
    </h6>
    <p class="lh-base">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac
      neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique,
      tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit
      amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.
      Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio
      euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu
      mauris, malesuada quis ornare accumsan, blandit sed diam.
    </p>
    <app-proposal-ai></app-proposal-ai>
  </nb-card-body>
</nb-card>
