<nb-card
  [nbSpinner]="(loading$ | async) ?? false"
  nbSpinnerStatus="success"
  nbSpinnerSize="giant"
>
  <nb-card-body>
    <nb-stepper #stepper orientation="horizontal" disableStepNavigation [selectedIndex]="0">

      <nb-step label="Upload">
        <h5>
          Upload your profile
        </h5>
        <p class="lh-base">
          Every job proposal we create is meticulously tailored and crafted to be original and matched your profile.
        </p>
        <div class="pt-4">
          <app-upload-profile (fileSelected)="fileSelected($event)">
          </app-upload-profile>
        </div>

        <div class="mt-4 d-flex justify-content-end">
          <button nbButton
                  type="button"
                  [disabled]="file == null || (loading$ | async)"
                  (click)="uploadFile()">
            next
          </button>
        </div>
      </nb-step>

      <nb-step label="Verify">
        <h5>
          Verify profile
        </h5>
        <p class="lh-base">
          Thoroughly check your profile information and fill in as much detail as possible. The more complete your profile, the better job proposals will be created, tailored to your skills and experience
        </p>
        <div class="pt-4">
          <app-profile-form [profile]="profile$ | async"
                            [loading]="(loading$ | async) ?? false"
                            [saving]="(saving$ | async) ?? false"
                            (save)="saveProfile($event)">
          </app-profile-form>
        </div>
        <div class="mt-4 d-flex justify-content-between">
          <button nbButton nbStepperPrevious
                  type="button">
            back
          </button>
          <button nbButton nbStepperNext
                  type="button"
                  (click)="verify()">
            Verify
          </button>
        </div>
      </nb-step>

      <nb-step label="Done">
        <div class="d-flex align-items-center flex-column">
          <nb-icon icon="bulb-outline" status="success" class="icon-done"></nb-icon>
          <h2 class="mt-2">
            Congratulations!
          </h2>
          <p class="mb-5">
            Now you can start creating awesome proposals!
          </p>
          <button nbButton status="success" routerLink="/proposal/create" type="button">
            Let's start
          </button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
