<nb-layout>
  <nb-layout-column class="p-0">
    <nb-card
      [nbSpinner]="(loading$ | async) ?? false"
      nbSpinnerStatus="primary"
      nbSpinnerSize="giant">
      <nb-card-body>
        <nb-stepper #stepper orientation="horizontal" disableStepNavigation [selectedIndex]="0">

          <nb-step [label]="'profile.setup.upload' | translate">
            <h5>
              {{'profile.setup.upload-profile' | translate}}
            </h5>
            <p class="lh-base">
              {{'profile.setup.extract-information' | translate}}
            </p>
            <p [innerHTML]="'profile.setup.upload-profile-now' | translate">
            </p>
            <div class="pt-4">
              <app-upload-profile (fileSelected)="fileSelected($event)">
              </app-upload-profile>
            </div>
            <div class="mt-4 d-flex justify-content-end">
              <button nbButton nbStepperNext
                      status="basic"
                      type="button"
                      *ngIf="(isInVerification | async) && !newUpload">
                {{'profile.setup.next' | translate}}
              </button>
              <button nbButton
                      type="button"
                      status="basic"
                      (click)="uploadFile()"
                      *ngIf="!(isInVerification | async) || newUpload">
                {{'profile.setup.next' | translate}}
              </button>
            </div>
          </nb-step>

          <nb-step [label]="'profile.setup.verify' | translate">
            <h5>
              {{'profile.setup.verify-profile' | translate}}
            </h5>
            <p class="lh-base">
              {{'profile.setup.verify-profile-hint' | translate}}
            </p>
            <div class="pt-4">
              <app-profile-form [profile]="profile$ | async"
                                [loading]="(loading$ | async) ?? false"
                                [saving]="(saving$ | async) ?? false"
                                (save)="saveProfile($event)">
              </app-profile-form>
            </div>
            <div class="mt-4 d-flex justify-content-between">
              <button nbButton nbStepperPrevious
                      type="button">
                {{'profile.setup.back' | translate}}
              </button>
              <button nbButton nbStepperNext
                      type="button"
                      (click)="verify()">
                {{'profile.setup.verify' | translate}}
              </button>
            </div>
          </nb-step>

          <nb-step label="Done">
            <div class="d-flex align-items-center flex-column">
              <nb-icon icon="bulb-outline" status="success" class="icon-done"></nb-icon>
              <h2 class="mt-2">
                {{'profile.setup.congratulations' | translate}}
              </h2>
              <p class="mb-5">
                {{'profile.setup.congratulations-hint' | translate}}
              </p>
              <button nbButton status="success" type="button"
                      (click)="startCreating()"
                      [disabled]="(user$ | async)?.setupProfile === SetupProfile.Verify">
                {{'profile.setup.start' | translate}}
              </button>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>

  </nb-layout-column>
</nb-layout>
