<form (ngSubmit)="save()"
      [formGroup]="formLanguage">
  <nb-card>
    <nb-card-header>
      <h6>
        Language
      </h6>
    </nb-card-header>
    <nb-card-body>
      <div class="row g-2">
        <div class="col-md-6 col-sm-12">
          <label for="language" class="label">
            Language
          </label>
          <input nbInput fullWidth
                 id="language"
                 type="text"
                 fieldSize="large"
                 maxlength="20"
                 formControlName="language">
        </div>
        <div class="col-md-6 col-sm-12">
          <label for="level" class="label">
            Level
          </label>
          <nb-select id="level" size="large" formControlName="level" class="w-100">
            <nb-option [value]="null">
              Please select
            </nb-option>
            <nb-option [value]="'elementary'">
              Elementary
            </nb-option>
            <nb-option [value]="'limited working'">
              Limited working
            </nb-option>
            <nb-option [value]="'professional working'">
              Professional working
            </nb-option>
            <nb-option [value]="'full professional'">
              Full professional
            </nb-option>
            <nb-option [value]="'native or bilingual'">
              Native or bilingual
            </nb-option>
          </nb-select>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end">
        <button nbButton
                type="button"
                status="basic"
                class="me-2"
                (click)="cancel()">
          Cancel
        </button>
        <button nbButton
                status="primary"
                type="submit"
                [disabled]="formLanguage.invalid">
          Save
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
