<form (ngSubmit)="save()"
      [formGroup]="formLanguage">
  <nb-card>
    <nb-card-header>
      <h6>
        {{'profile.profile-form.language-section.title' | translate}}
      </h6>
    </nb-card-header>
    <nb-card-body>
      <div class="row g-2">
        <div class="col-md-6 col-sm-12">
          <label for="language" class="label">
            {{'profile.profile-form.language-section.title' | translate}}
          </label>
          <input nbInput fullWidth
                 id="language"
                 type="text"
                 fieldSize="large"
                 maxlength="20"
                 formControlName="language">
        </div>
        <div class="col-md-6 col-sm-12">
          <label for="level" class="label">
            {{'profile.profile-form.language-section.level' | translate}}
          </label>
          <nb-select id="level" size="large" formControlName="level" class="w-100">
            <nb-option [value]="null">
              {{'profile.profile-form.language-section.select' | translate}}
            </nb-option>
            <nb-option [value]="'elementary'">
              {{'profile.profile-form.language-section.elementary' | translate}}
            </nb-option>
            <nb-option [value]="'limited working'">
              {{'profile.profile-form.language-section.limited' | translate}}
            </nb-option>
            <nb-option [value]="'professional working'">
              {{'profile.profile-form.language-section.professional' | translate}}
            </nb-option>
            <nb-option [value]="'full professional'">
              {{'profile.profile-form.language-section.full' | translate}}
            </nb-option>
            <nb-option [value]="'native or bilingual'">
              {{'profile.profile-form.language-section.native' | translate}}
            </nb-option>
          </nb-select>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end">
        <button nbButton
                type="button"
                status="basic"
                class="me-2"
                (click)="cancel()">
          {{'profile.profile-form.cancel' | translate}}
        </button>
        <button nbButton
                status="primary"
                type="submit"
                [disabled]="formLanguage.invalid">
          {{'profile.profile-form.save' | translate}}
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
