<form (ngSubmit)="createProposal()"
      [formGroup]="proposalForm">
  <nb-card>
    <nb-card-body>
      <div class="row g-3">
        <div class="col-12">
          <label for="title" class="label">
            Job title
          </label>
          <input nbInput fullWidth
                 id="title"
                 type="text"
                 fieldSize="large"
                 formControlName="title">
        </div>
        <div class="col-12">
          <label for="description" class="label">
            Job details
          </label>
          <textarea nbInput fullWidth
                    id="description"
                    fieldSize="large"
                    rows="6"
                    formControlName="details"></textarea>
        </div>
        <div class="col-12">
          <div class="d-flex flex-row align-items-sm-end">
            <label for="additionalContent" class="label">
              Relevant content <small class="text-optional">(Optional)</small>
            </label>
            <button nbButton ghost
                    status="primary"
                    size="small"
                    shape="round"
                    type="button"
                    [nbPopover]="infoQuestionRef"
                    nbPopoverPlacement="bottom">
              <nb-icon icon="question-mark-circle-outline"></nb-icon>
            </button>
          </div>
          <ng-template #infoQuestionRef>
            <small class="wrapper-popover">
              Feel free to ask any questions regarding the project or provide any additional content that you believe is crucial for the proposal.
              <br>
              Write in your own words, "even in your native language". We'll make your content better to help it stand out.
            </small>
          </ng-template>
          <textarea nbInput fullWidth
                    id="additionalContent"
                    fieldSize="large"
                    rows="6"
                    formControlName="additionalContent"></textarea>
          <div class="form-text text-color-basic">
            Add your personal touch to make it truly yours.
          </div>
        </div>
        <div class="col-12">
          <label for="description" class="label">
            Talk about
          </label>
          <div class="row g-3">
            <nb-toggle status="basic"
                       class="col-6 col-sm-auto"
                       formControlName="experiences">
              Experiences
            </nb-toggle>
            <nb-toggle status="basic"
                       class="col-6 col-sm-auto"
                       formControlName="certifications">
              Certifications
            </nb-toggle>
            <nb-toggle status="basic"
                       class="col-6 col-sm-auto"
                       formControlName="educations">
              Educations
            </nb-toggle>
            <nb-toggle status="basic"
                       class="col-6 col-sm-auto"
                       formControlName="languages">
              Languages
            </nb-toggle>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end">
        <button nbButton
                size="large"
                status="primary"
                type="submit"
                [disabled]="proposalForm.invalid || loading">
          Generate
        </button>
        <!-- Disabled at the moment -->
        <div class="d-flex flex-row align-items-center" *ngIf="false">
          <button nbButton size="large" status="basic" class="position-relative" type="button">
        <span>
          Buy Credits
        </span>
            <span class="position-absolute top-0 start-100 translate-middle badge su">
          4
        </span>
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
