@use "src/styles/themes" as *;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.logo {
  img {
    height: 50px;
  }
}

.push-to-right {
  margin-left: auto;
}

nb-action {
  cursor: pointer;
}

nb-user {
  margin-left: auto;
}

.action-icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: nb-theme(color-primary-500);
}

nb-actions {
  width: 100%;
}

.footer {
  background-color: nb-theme(color-primary-100);
  display: block;

  .logo {
    img {
      height: 40px;
    }
  }
}

.btn-menu {
  padding: 0;
}

.main-layout {
  width: 100%;
}

.action-language {
  padding-right: 0;
  padding-left: 0;

  button {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  span {
    text-transform: capitalize;
  }
}

.action-user {
  padding-right: 0;
}

.action-login {
  padding-right: 0.5rem;
}

.language-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@include media-breakpoint-up(xl) {
  .main-layout {
    width: 75%;
  }
}

@include media-breakpoint-down(md) {
  .footer {
    display: none !important;
  }
}
