@use "src/styles/themes" as *;

.logo {
  img {
    height: 50px;
  }
}

.push-to-right {
  margin-left: auto;
}

nb-action {
  cursor: pointer;
}

nb-user {
  margin-left: auto;
}

.action-icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: nb-theme(color-primary-500);
}

.create-new {
  color: nb-theme(color-primary-500);
}

nb-actions {
  width: 100%;
}

.footer {
  background-color: nb-theme(color-primary-100);

  .logo {
    img {
      height: 40px;
    }
  }
}
