<nb-layout>
  <nb-layout-header fixed>

    <nb-actions size="medium" *ngIf="breakpoints === 'sm'">
      <nb-action class="btn-menu" (click)="toggle()">
        <nb-icon class="action-ico" icon="menu-outline">
        </nb-icon>
      </nb-action>
      <nb-action class="push-to-right color-primary-500 pe-0"
                 *ngIf="!(isAuthenticated$ | async)">
        <button nbButton status="basic" type="button" (click)="login()" size="small">
          Log in
        </button>
      </nb-action>
      <nb-action class="push-to-right btn-menu"
                 *ngIf="isAuthenticated$ | async">
        <app-user-menu [user]="userName | async"></app-user-menu>
      </nb-action>
    </nb-actions>

    <nb-actions size="medium" *ngIf="breakpoints === 'md'">
      <nb-action (click)="onClickLogo()">
        <div class="logo">
          <img ngSrc="../assets/img/dodo_draft_logo.png" alt="Logo DodoDraft" height="50" width="108">
        </div>
      </nb-action>
      <nb-action (click)="onAction(item)"
                 *ngFor="let item of headerMenu$ | async">
        <span >
          {{item.title}}
        </span>
        <nb-icon class="action-icon" [icon]="item.icon.toString()" *ngIf="item.icon">
        </nb-icon>
      </nb-action>
      <nb-action class="push-to-right"
                 *ngIf="!(isAuthenticated$ | async)">
        <button nbButton status="basic" type="button" (click)="login()">
          Log in
        </button>
      </nb-action>
      <nb-action class="push-to-right"
                 *ngIf="isAuthenticated$ | async">
        <app-user-menu [user]="userName | async"></app-user-menu>
      </nb-action>
    </nb-actions>

  </nb-layout-header>

  <nb-sidebar tag="left" fixed responsive *ngIf="breakpoints === 'sm'">
    <nb-menu [items]="headerMenu$ | async" (click)="toggle()"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <div class="main-layout me-auto ms-auto mt-4 mt-sm-0">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>

  <nb-layout-footer class="footer" *ngIf="!(isAuthenticated$ | async)">
    <nb-actions size="medium">
      <nb-action routerLink="/home">
        <div class="logo">
          <img ngSrc="../assets/img/dodo_draft_logo_footer.png" alt="Logo DodoDraft" width="108" height="50">
        </div>
      </nb-action>
      <nb-action class="push-to-right"></nb-action>
      <nb-action [routerLink]="item.link"
                 (click)="onAction(item)"
                 *ngFor="let item of headerMenu$ | async">
        <span>
          {{item.title}}
        </span>
        <nb-icon class="action-icon" [icon]="item.icon.toString()" *ngIf="item.icon">
        </nb-icon>
      </nb-action>
    </nb-actions>
  </nb-layout-footer>

</nb-layout>
