<nb-layout>

  <nb-layout-header fixed>
    <div class="content-center">
      <nb-actions size="medium">
        <nb-action icon="home-outline" routerLink="/home"></nb-action>
        <nb-action routerLink="/proposal">
          Create New
        </nb-action>
        <nb-action routerLink="/history">
          History
        </nb-action>
        <nb-action routerLink="/profile">
          Profile
        </nb-action>
      </nb-actions>
      <nb-user name="Nikita Poltoratsky"
               title="full-stack developer"
               badgeText="2"
               shape="rectangle"
               badgeStatus="success"
               badgePosition="bottom right"
               nbContextMenuTag="my-context-menu"
               [nbContextMenu]="items"
      >
      </nb-user>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
