<div class="proposal" *ngIf="proposal !== null">
  <div class="d-flex flex-row align-items-start">
    <p class="lh-base font-monospace cover-letter">
      {{proposal.coverLetter}}
    </p>
    <figure>
    </figure>
    <div class="copy-wrapper">
      <button nbButton ghost status="primary" size="small" shape="round">
        <nb-icon icon="clipboard-outline"></nb-icon>
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-end date-time">
    <small class="fst-italic text-muted right">
      {{proposal.createdAt | date: 'dd/MM/yyyy HH:mm'}}
    </small>
  </div>
</div>
