@use "src/styles/themes" as *;

.proposal {
  padding: 1rem 1rem 0 1rem;
}

.footer {
  position: relative;
  padding-right: 0;
}

.copy-wrapper {
  margin-left: auto;
}

.date-time {
  color: nb-theme(color-warning-300);
}

.cover-letter {
  margin-bottom: 0;
}
