<nb-card class="proposal"
         [class.placeholder-glow]="true"
         *ngIf="proposal !== null && proposal">
  <nb-card-body>
    <div class="flex-row align-items-start" [ngClass]="{ 'd-flex': !loading }">
      <p class="lh-base font-monospace cover-letter"
         [innerHTML]="proposal.coverLetter"
         *ngIf="!loading" >
      </p>
      <div *ngIf="loading">
        <span class="placeholder col-8"></span>
        <span class="placeholder col-8"></span>
        <span class="placeholder col-8"></span>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="footer d-flex align-items-center">
    <small class="fst-italic date-time right"
           [ngClass]="{ 'col-1': loading, 'placeholder': loading, 'placeholder-xs': loading }">
      {{proposal.createdAt | date: 'dd/MM/yyyy HH:mm'}}
    </small>
    <div class="copy-wrapper d-flex">
      <button nbButton ghost
              type="button"
              class="me-1"
              status="primary"
              size="small"
              shape="semi-round"
              [disabled]="loading"
              (click)="copyToClipboard()">
        <nb-icon icon="clipboard-outline"></nb-icon>
      </button>
      <app-crud-buttons [loading]="loading"
                        [config]="crudConfig"
                        (delete)="onDelete()">
      </app-crud-buttons>
    </div>
  </nb-card-footer>
</nb-card>
