<h1 class="fw-bold mb-3">
  Contact
</h1>

<p class="lead mb-5">
  Reach out to us, Expect a response within a day.
</p>

<nb-card class="card-contact">
  <nb-card-body>
    <form (ngSubmit)="submit()"
          [formGroup]="formContact">
      <div class="row">
        <div class="col-sm-12 col-md-6 mb-3">
          <input nbInput fullWidth
                 id="name"
                 type="text"
                 shape="rectangle"
                 placeholder="Name"
                 fieldSize="giant"
                 formControlName="name">
        </div>
        <div class="col-sm-12 col-md-6 mb-3">
          <input nbInput fullWidth
                 id="email"
                 type="text"
                 shape="rectangle"
                 placeholder="Email"
                 fieldSize="giant"
                 formControlName="email">
        </div>
      </div>
      <div class="col-sm-12 col-6 w-100">
          <textarea nbInput fullWidth
                    id="message"
                    rows="5"
                    placeholder="Let's know what we can help you!"
                    fieldSize="giant"
                    formControlName="message"></textarea>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="text-end">
    <button nbButton class="ms-auto"
            shape="rectangle"
            status="primary"
            size="large"
            type="submit"
            [disabled]="formContact.invalid || (loading$ | async)">
      Send
    </button>
  </nb-card-footer>
</nb-card>

<p class="small text-muted d-flex align-content-center">
  <nb-icon icon="email"></nb-icon>
  <span class="ms-2">info@dododraft.com</span>
</p>
