<ngx-dropzone class="custom-dropzone"
              accept="application/pdf"
              [multiple]="false"
              [maxFileSize]="100000"
              (change)="onSelect($event)"
>
  <ngx-dropzone-label>
    <div class="dropzone">
      <div class="upload-icon-wrapper">
        <nb-icon icon="file-text-outline"></nb-icon>
      </div>
      <h6>
        {{'profile.profile-form.drop-zone-section.drag-drop' | translate}}
        <br>
        <span class="subtitle text-hint">
          {{'profile.profile-form.drop-zone-section.pdf' | translate}}
        </span>
      </h6>
    </div>
  </ngx-dropzone-label>
  <ngx-dropzone-preview [removable]="true" (removed)="onRemove()" *ngIf="file != null">
    <ngx-dropzone-label>
      <nb-icon icon="file-text-outline"></nb-icon>
      {{ file.name }}
    </ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone>
