<h1>
  Upload your profile
</h1>
<p>
  Every job proposal we create is meticulously tailored and crafted to be original and matched your profile.
</p>
<app-dropzone></app-dropzone>
<p class="text-hint paragraph-2">
  Please note that we currently only accept files that have been exported from <strong>LinkedIn</strong>. However, we
  are diligently working on broadening the range of acceptable file formats to accommodate more options.
</p>
<p class="text-hint paragraph-2">
  To learn how to export your profile from LinkedIn, please <a
  href="https://www.linkedin.com/help/linkedin/answer/a541960/save-a-profile-as-a-pdf" target="_blank">click here</a>.
</p>
