<div id="home" class="d-flex flex-column align-items-center ms-auto me-auto">

  <h1 class="display-2 fw-bold mb-3 pt-5 text-center">
    Craft Winning Cover Letters with Ease
  </h1>

  <h3 class="mb-4 text-basic text-center">
    Creating personalized cover letter has never been this easy!
  </h3>

  <p class="lead text-center lh-sm">
    Our intuitive application that transforms your unique LinkedIn profiles into professional cover letters,
    leveraging the power of AI.
  </p>

  <div class="mt-5">
    <button nbButton
            size="giant"
            shape="semi-round"
            status="success"
            type="button"
            (click)="signup()">
      Create Now!
    </button>
  </div>

  <div class="mt-5 mb-5">
    <img src="assets/img/hero_dodo_draft.png" class="img-fluid">
  </div>

  <h1 id="how-it-works" class="display-4 fw-bold pt-5 mb-4 text-center">
    Here's how it works
  </h1>

  <p class="lead mb-5">
    The three-step process helps you create a winning cover letter in minutes.
  </p>

  <!-- Step 1 -->
  <div class="row gap-4 mb-5">
    <div class="col-md d-flex flex-column justify-content-center">
      <h4 class="mt-3 mb-4">
        Upload Your LinkedIn Profile
      </h4>
      <p class="lead text-left lh-sm">
        Start by sharing your LinkedIn profile with us. This crucial step enables our advanced AI system to understand
        your qualifications, experiences, and unique strengths, forming the foundation of your tailor-made cover letter.
      </p>
    </div>
    <div class="col-md-12 col-xl-8">
      <img src="../../../assets/img/dodo_draft_upload_profile.png" class="img-fluid">
    </div>
  </div>

  <!-- Step 2 -->
  <div class="d-flex flex-column-reverse flex-xl-row gap-4 mb-5">
    <div class="col-md-12 col-xl-8">
      <img src="../../../assets/img/dodo_draft_edit_profile.png" class="img-fluid">
    </div>
    <div class="col-md d-flex flex-column justify-content-center">
      <h4 class="mt-3 mb-4">
        Refine Your Profile
      </h4>
      <p class="lead text-left lh-sm">
        Take the time to detail your skills, experience, education, and more in our user-friendly interface. The more
        information you share, the better.
      </p>
      <p class="lead text-left lh-sm">
        This enables us to craft a cover letter that accurately aligns with the job
        description you're targeting, making you a compelling candidate.
      </p>
    </div>
  </div>

  <!-- Step 3 -->
  <div class="row gap-4 mb-5">
    <div class="col-md d-flex flex-column justify-content-center">
      <h4 class="mt-3 mb-4">
        Sit Back and Watch the Magic Happen
      </h4>
      <p class="lead text-left lh-sm">
        It generates a unique, professional cover letter that puts your strengths in the spotlight and aligns with your
        targeted job role.
      </p>
      <p class="lead text-left lh-sm">
        And the best part? You can add your personal touch to the generated content, making it truly yours.
      </p>
    </div>
    <div class="col-md-12 col-xl-8">
      <img src="../../../assets/img/dodo_draft_generate_proposal.png" class="img-fluid">
    </div>
  </div>

  <!-- Final -->
  <div class="mt-5 mb-5 final-step">
    <h1 class="display-5 fw-bold mb-4">
      Open doors to your dream
    </h1>
    <p class="lead mb-4 lh-sm">
      No more stressing over the right words or worrying about leaving out important details.
      <br>
      With our application, you'll have a top-notch cover letter ready in no time.
    </p>
    <p class="lead mb-5 lh-sm">
      Get started now and let your cover letter open doors to your dream
      job!
    </p>
    <button nbButton
            size="giant"
            shape="semi-round"
            status="success"
            type="button"
            (click)="signup()">
      Create Now!
    </button>
  </div>

</div>
