<nb-layout>
  <nb-layout-column>
    <video class="video-background" autoplay muted loop>
      <source src="/assets/video/hero-video-4.mp4" type="video/mp4" />
    </video>

    <div class="content-hero pt-5">
      <h1 class="display-1 fw-bold text-center text-basic-color mb-5">
        Transform Your Career Journey
      </h1>

      <h3 class="text-center text-basic-color pt-2 hero-subtitle">
        Use the power of AI 🪄 to create impactful
        <span class="fw-bold highlight-word">resumes</span> and
        <span class="fw-bold highlight-word">cover letters</span> to get your
        dream job.
      </h3>

      <div class="pt-4">
        <button
          nbButton
          size="giant"
          shape="semi-round"
          status="success"
          type="button"
          (click)="signup()"
        >
          Create Now!
        </button>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

<app-features-supported></app-features-supported>

<app-testimonials></app-testimonials>
<app-final-cta></app-final-cta>
