@use "src/styles/themes" as *;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.push-to-right {
  margin-left: auto;
}

nb-action {
  cursor: pointer;
}

nb-user {
  margin-left: auto;
}

.action-icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: nb-theme(color-primary-500);
}

.create-new {
  color: nb-theme(color-primary-500);
}

nb-actions {
  width: 100%;
}

.final-step {
  border-radius: 30px;
  text-align: center;
}

#home {
  width: 100%;
}

@include media-breakpoint-up(md) {
  #home {
    width: 75%;
  }
}

.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.content-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}
