<nb-layout>
  <nb-layout-column>
    <video class="video-background" autoplay muted loop>
      <source src="/assets/video/hero-video-4.mp4" type="video/mp4" />
    </video>

    <div class="content-hero pt-5">
      <h1 class="display-1 fw-bold text-center text-basic-color mb-5">
        Your Secret Weapon for Job Applications
      </h1>

      <h2 class="text-center lh-sm text-basic-color pt-5">
        Use the power of AI 🪄 to create impactful
        <span class="highlights">resumes</span> and cover letters to get your
        dream job.
      </h2>

      <div class="pt-5">
        <button
          nbButton
          size="giant"
          shape="semi-round"
          status="success"
          type="button"
          (click)="signup()"
        >
          Create Now!
        </button>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

<app-features-supported></app-features-supported>

<app-testimonials></app-testimonials>
<app-final-cta></app-final-cta>
