<div class="d-flex justify-content-start">
  <button nbButton
          type="button"
          size="tiny"
          status="basic"
          [disabled]="suggesting"
          (click)="onOptimize()"
          *ngIf="summaryVariants.length === 0">
    {{ suggesting ? 'Optimizing...' : 'Optimize with AI' }}
  </button>
</div>
<nb-card class="card-optimize-ai" *ngIf="summaryVariants.length > 0">
  <nb-card-body>
    <small class="text-warning-300">
      Suggested variants
    </small>
    <div class="mt-2" *ngFor="let variant of summaryVariants; let i = index">
      <div *ngIf="currentIndex === i">
        <p class="lh-base">
          {{variant.content}}
        </p>
      </div>
    </div>
    <div class="gap-2 d-flex justify-content-end">
      <button class="me-2"
              nbButton
              type="button"
              size="tiny"
              status="basic"
              [disabled]="savingVariant"
              (click)="cancelAll.emit()">
        <nb-icon icon="close-outline"></nb-icon>
        <span>
          Cancel All
        </span>
      </button>
      <button class="me-2"
              nbButton
              type="button"
              size="tiny"
              status="success"
              [disabled]="savingVariant"
              (click)="onApprove()">
        <nb-icon icon="checkmark"></nb-icon>
        <span>
          Approve
        </span>
      </button>
      <button nbButton
              type="button"
              status="basic"
              shape="round"
              size="tiny"
              [disabled]="currentIndex === 0 || savingVariant"
              (click)="back()">
        <nb-icon icon="arrow-ios-back"></nb-icon>
      </button>
      <button nbButton
              type="button"
              status="basic"
              shape="round"
              size="tiny"
              [disabled]="currentIndex === summaryVariants.length - 1 || savingVariant"
              (click)="next()">
        <nb-icon icon="arrow-ios-forward"></nb-icon>
      </button>
    </div>
  </nb-card-body>
</nb-card>
