<form [formGroup]="profileForm">
  <div class="row">
    <div class="col-md-3">
      <nb-card accent="basic">
        <nb-card-body class="m-2">
          <!-- Languages -->
          <div class="mb-4">
            <h6 class="d-flex align-items-center">
              <span class="me-2"
                    [class.placeholder]="loading">
                Languages
              </span>
              <button nbButton ghost
                      status="primary"
                      size="small"
                      type="button"
                      shape="round"
                      [disabled]="loading"
                      [class.placeholder]="loading"
                      (click)="openLanguageDialog()">
                <nb-icon icon="plus-circle-outline"></nb-icon>
              </button>
            </h6>
            <ul class="d-flex flex-column">
              <li *ngFor="let languageCrud of languagesCrudButtons; let i = index">
                <div class="d-flex flex-row align-items-center">
                  <span class="me-1" [class.me-auto]="!languageCrud.language.level">
                    {{languageCrud.language.language | titlecase}}
                  </span>
                  <small class="text-secondary me-2 me-auto" *ngIf="languageCrud.language.level">
                    ({{languageCrud.language.level | titlecase}})
                  </small>
                  <app-crud-buttons [config]="languageCrud.config"
                                    [loading]="saving"
                                    [reset]="languageCrud.reset"
                                    (edit)="editLanguage(languageCrud, i)"
                                    (delete)="deleteLanguage(i)">
                  </app-crud-buttons>
                </div>
              </li>
            </ul>
            <!-- placeholder -->
            <ul *ngIf="loading">
              <li>
                <span class="placeholder bg-secondary col-3"></span>
              </li>
              <li>
                <span class="placeholder bg-secondary col-3"></span>
              </li>
              <li>
                <span class="placeholder bg-secondary col-3"></span>
              </li>
            </ul>
          </div>
          <!-- Certifications -->
          <div>
            <h6 class="d-flex align-items-center">
              <span class="me-2"
                    [class.placeholder]="loading">
                Certifications
              </span>
              <button nbButton ghost
                      status="primary"
                      size="small"
                      shape="round"
                      type="button"
                      [disabled]="loading"
                      [class.placeholder]="loading"
                      (click)="openCertificationDialog()">
                <nb-icon icon="plus-circle-outline"></nb-icon>
              </button>
            </h6>
            <ul class="lh-base">
              <li *ngFor="let certificationCrud of certificationsCrudButtons; let i = index">
                <div class="d-flex flex-row align-items-center justify-content-start">
                  <span class="me-1 me-auto">
                    {{certificationCrud.certification}}
                  </span>
                  <app-crud-buttons [config]="certificationCrud.config"
                                    [loading]="saving"
                                    [reset]="certificationCrud.reset"
                                    (edit)="editCertification(certificationCrud, i)"
                                    (delete)="deleteCertification(i)">
                  </app-crud-buttons>
                </div>
              </li>
            </ul>
            <!-- placeholder -->
            <ul *ngIf="loading">
              <li>
                <span class="placeholder bg-secondary col-3"></span>
              </li>
              <li>
                <span class="placeholder bg-secondary col-3"></span>
              </li>
              <li>
                <span class="placeholder bg-secondary col-3"></span>
              </li>
            </ul>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-9">
      <nb-card accent="basic">
        <nb-card-body class="m-4">
          <!-- Name -->
          <h3 class="mb-1 d-flex align-items-center">
            <span class="me-2"
                  [class.placeholder]="loading"
                  [ngClass]="loading ? 'col-4' : ''"
                  *ngIf="!editFullName">
              {{profile?.fullName}}
            </span>
            <!-- Edit Full Name  -->
            <input nbInput
                   fieldSize="large"
                   class="me-2"
                   [id]="this.ProfileFormControls.FullName"
                   [formControlName]="this.ProfileFormControls.FullName"
                   *ngIf="editFullName"/>
            <!-- / Edit Full Name  -->
            <app-crud-buttons [config]="fullNameCrudButtonsConfig"
                              [loading]="saving || loading"
                              (save)="onSave(this.ProfileFormControls.FullName)"
                              (edit)="editFullName = true"
                              (cancel)="editFullName = false">
            </app-crud-buttons>
          </h3>

          <!-- Headline -->
          <p class="fs-6 d-flex align-items-center">
            <span class="me-2"
                  [class.placeholder]="loading"
                  [ngClass]="loading ? 'col-4' : ''"
                  *ngIf="!editHeadline">
              {{profile?.headline}}
            </span>
            <!-- Edit Headline  -->
            <input nbInput
                   fieldSize="large"
                   class="me-2 col-6"
                   [id]="this.ProfileFormControls.Headline"
                   [formControlName]="this.ProfileFormControls.Headline"
                   *ngIf="editHeadline"/>
            <!-- / Edit Headline  -->
            <app-crud-buttons [config]="headlineCrudButtonsConfig"
                              [loading]="saving || loading"
                              (save)="onSave(this.ProfileFormControls.Headline)"
                              (edit)="editHeadline = true"
                              (cancel)="editHeadline = false">
            </app-crud-buttons>
          </p>
          <!-- Skills -->
          <div class="mb-5">
            <!-- placeholder -->
            <p class="d-flex flex-row" *ngIf="loading">
              <span class="placeholder bg-secondary col-2 me-2"></span>
              <span class="placeholder bg-secondary col-2 me-2"></span>
              <span class="placeholder bg-secondary col-2"></span>
            </p>
            <!-- / placeholder -->
            <div *ngIf="!loading" class="d-flex flex-row align-items-center">
              <nb-tag-list [multiple]="true" class="me-2" (tagRemove)="deleteSkill($event)">
                <nb-tag status="primary" appearance="outline"
                        [text]="skill"
                        [removable]="editSkills"
                        *ngFor="let skill of currentSkills">
                </nb-tag>
                <input fullWidth nbTagInput
                       type="text"
                       (tagAdd)="addSkill($event)"
                       [disabled]="saving"
                       *ngIf="editSkills">
              </nb-tag-list>
              <app-crud-buttons [config]="skillsCrudButtonsConfig"
                                [loading]="saving || loading"
                                (edit)="editSkills = true"
                                (cancel)="cancelSkills()"
                                (save)="onSave(this.ProfileFormControls.Skills)">
              </app-crud-buttons>
            </div>
          </div>
          <!-- Summary -->
          <div class="mb-5">
            <h5 class="d-flex align-items-center">
              <span class="me-2"
                    [class.placeholder]="loading"
                    [ngClass]="loading ? 'col-2' : ''">
                Summary
              </span>
              <app-crud-buttons [config]="summaryCrudButtonsConfig"
                                [loading]="saving || loading"
                                (save)="onSave(this.ProfileFormControls.Summary)"
                                (edit)="editSummary = true"
                                (cancel)="editSummary = false">
              </app-crud-buttons>
            </h5>
            <!-- placeholder -->
            <p *ngIf="loading">
              <span class="placeholder col-12"></span>
              <span class="placeholder col-12"></span>
              <span class="placeholder col-12"></span>
            </p>
            <!-- / placeholder -->
            <p class="lh-base" *ngIf="!loading && !editSummary">
              {{profile?.summary}}
            </p>
            <!-- Edit Summary  -->
            <textarea nbInput fullWidth
                      [id]="this.ProfileFormControls.Summary"
                      fieldSize="large"
                      rows="6"
                      class="mb-2"
                      [formControlName]="this.ProfileFormControls.Summary"
                      *ngIf="editSummary"></textarea>
            <!-- / Edit Summary  -->
          </div>
          <!-- Experiences -->
          <div class="mb-5">
            <h5 class="d-flex align-items-center">
              <span class="me-2"
                    [class.placeholder]="loading">
                Experience
              </span>
              <button nbButton ghost
                      status="primary"
                      type="button"
                      size="small"
                      shape="round"
                      [disabled]="loading || saving"
                      [class.placeholder]="loading"
                      (click)="openExperienceDialog()">
                <nb-icon icon="plus-circle-outline"></nb-icon>
              </button>
            </h5>
            <!-- placeholder -->
            <div class="mb-4" *ngIf="loading">
              <p class="d-flex flex-column">
                <span class="placeholder col-3 mb-2"></span>
                <span class="placeholder bg-secondary col-1 mb-2"></span>
                <span class="placeholder col-12"></span>
              </p>
            </div>
            <!-- / placeholder -->
            <div class="mb-4" *ngFor="let experienceCrud of experiencesCrudButtons; let i = index">
              <p class="fw-semibold mb-0 d-flex align-items-center">
                <span class="me-2">
                  {{experienceCrud.experience.company | titlecase}}
                </span>
                <app-crud-buttons [config]="experienceCrud.config"
                                  [loading]="saving"
                                  [reset]="experienceCrud.reset"
                                  (edit)="editExperience(experienceCrud, i)"
                                  (delete)="deleteExperience(i)">
                </app-crud-buttons>
              </p>
              <div>
                <p class="mb-0">
                  {{experienceCrud.experience.position | titlecase}}
                </p>
                <p class="lh-base" *ngIf="experienceCrud.experience.description">
                  {{experienceCrud.experience.description}}
                </p>
              </div>
            </div>
          </div>
          <!-- Education -->
          <div class="mb-5">
            <h5 class="d-flex align-items-center">
              <span class="me-2"
                    [class.placeholder]="loading">
                Education
              </span>
              <button nbButton ghost
                      type="button"
                      status="primary"
                      size="small"
                      shape="round"
                      [disabled]="loading || saving"
                      [class.placeholder]="loading"
                      (click)="openEducationDialog()">
                <nb-icon icon="plus-circle-outline"></nb-icon>
              </button>
            </h5>
            <!-- placeholder -->
            <div class="mb-4" *ngIf="loading">
              <p class="d-flex flex-column">
                <span class="placeholder col-3 mb-2"></span>
                <span class="placeholder bg-secondary col-1 mb-2"></span>
                <span class="placeholder col-12"></span>
              </p>
            </div>
            <!-- / placeholder -->
            <div class="mb-4" *ngFor="let educationCrud of educationsCrudButtons; let i = index">
              <p class="fw-semibold mb-0 d-flex align-items-center">
                <span class="me-2">
                  {{educationCrud.education.institution}}
                </span>
                <app-crud-buttons [config]="educationCrud.config"
                                  [loading]="saving"
                                  [reset]="educationCrud.reset"
                                  (edit)="editEducation(educationCrud, i)"
                                  (delete)="deleteEducation(i)">
                </app-crud-buttons>
              </p>
              <p>
                {{educationCrud.education.degree}}
              </p>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</form>
