<div class="row" *ngIf="profile !== null">
  <div class="col-md-3">
    <nb-card>
      <nb-card-body class="m-2">
        <!-- Languages -->
        <div class="mb-4">
          <h6 class="d-flex align-items-center">
            <span class="me-2">
              Languages
            </span>
            <button nbButton ghost status="primary" size="medium" shape="round">
              <nb-icon icon="plus-circle-outline"></nb-icon>
            </button>
          </h6>
          <ul>
            <li *ngFor="let language of profile.languages">
                <span>
                  {{language}}
                  <!--                  <small class="text-secondary">(Full Professional)</small>-->
                </span>
            </li>
          </ul>
        </div>
        <!-- Certifications -->
        <div>
          <h6 class="d-flex align-items-center">
            <span class="me-2">
              Certifications
            </span>
            <button nbButton ghost status="primary" size="medium" shape="round">
              <nb-icon icon="plus-circle-outline"></nb-icon>
            </button>
          </h6>
          <ul class="lh-base">
            <li *ngFor="let certification of profile.certifications">
              <span>
                {{certification}}
              </span>
            </li>
          </ul>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-9">
    <nb-card>
      <nb-card-body class="m-4">
        <!-- Name -->
        <h3 class="mb-1 d-flex align-items-center">
          <span class="me-2">
            {{profile.fullName}}
          </span>
          <button nbButton ghost status="primary" size="medium" shape="round">
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </h3>
        <!-- Headline -->
        <p class="fs-6 d-flex align-items-center">
          <span class="me-2">
            {{profile.headline}}
          </span>
          <button nbButton ghost status="primary" size="small" shape="round">
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </p>
        <!-- Skills -->
        <div class="mb-5">
          <nb-tag-list [multiple]="true" class="me-2">
            <nb-tag [text]="skill" *ngFor="let skill of profile.skills">
            </nb-tag>
          </nb-tag-list>
          <button nbButton ghost status="primary" size="small" shape="round">
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
        </div>
        <!-- Summary -->
        <div class="mb-5">
          <h5 class="d-flex align-items-center">
            <span class="me-2">
              Summary
            </span>
            <button nbButton ghost status="primary" size="medium" shape="round">
              <nb-icon icon="edit-outline"></nb-icon>
            </button>
          </h5>
          <p class="lh-base">
            {{profile.summary}}
          </p>
        </div>
        <!-- Experiences -->
        <div class="mb-5">
          <h5 class="d-flex align-items-center">
            <span class="me-2">
              Experience
            </span>
            <button nbButton ghost status="primary" size="medium" shape="round">
              <nb-icon icon="plus-circle-outline"></nb-icon>
            </button>
          </h5>
          <div class="mb-4" *ngFor="let experience of profile.experiences">
            <p class="fw-semibold mb-0 d-flex align-items-center">
              <span class="me-2">
                {{experience.company}}
              </span>
              <button nbButton ghost status="primary" size="small" shape="round" class="me-1">
                <nb-icon icon="edit-outline"></nb-icon>
              </button>
              <button nbButton ghost status="primary" size="small" shape="round">
                <nb-icon icon="trash-outline"></nb-icon>
              </button>
            </p>
            <p class="mb-0">
              {{experience.position}}
            </p>
            <p class="text-secondary">
              {{experience.duration}}
            </p>
            <p class="lh-base" *ngIf="experience.description">
              {{experience.description}}
            </p>
          </div>
        </div>
        <!-- Education -->
        <div class="mb-5">
          <h5 class="d-flex align-items-center">
            <span class="me-2">
              Education
            </span>
            <button nbButton ghost status="primary" size="medium" shape="round">
              <nb-icon icon="plus-circle-outline"></nb-icon>
            </button>
          </h5>
          <div class="mb-4" *ngFor="let education of profile.educations">
            <p class="fw-semibold mb-0 d-flex align-items-center">
              <span class="me-2">
                {{education.institution}}
              </span>
              <button nbButton ghost status="primary" size="small" shape="round" class="me-1">
                <nb-icon icon="edit-outline"></nb-icon>
              </button>
              <button nbButton ghost status="primary" size="small" shape="round">
                <nb-icon icon="trash-outline"></nb-icon>
              </button>
            </p>
            <p>
              {{education.degree}}
            </p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
