<form [formGroup]="profileForm">
  <div class="row flex-sm-row-reverse">
    <div class="col-lg-9 col-md-12">
      <nb-card>
        <nb-card-body class="m-2">
          <!-- Name -->
          <h3 class="mb-1 d-flex align-items-center">
            <span class="me-2"
                  [class.placeholder]="loading"
                  [ngClass]="loading ? 'col-4' : ''"
                  *ngIf="!editFullName">
              {{profile?.fullName}}
            </span>
            <!-- Edit Full Name  -->
            <input nbInput
                   fieldSize="large"
                   class="me-2"
                   maxlength="50"
                   [id]="this.ProfileFormControls.FullName"
                   [formControlName]="this.ProfileFormControls.FullName"
                   *ngIf="editFullName"/>
            <!-- / Edit Full Name  -->
            <app-crud-buttons [config]="fullNameCrudButtonsConfig"
                              [loading]="saving || loading"
                              (save)="onSave(this.ProfileFormControls.FullName)"
                              (edit)="editFullName = true"
                              (cancel)="editFullName = false">
            </app-crud-buttons>
          </h3>

          <!-- Headline -->
          <div class="fs-6 mt-2 mb-2 d-flex flex-row align-items-center">
            <p class="text-hint small fst-italic d-flex align-items-start mb-0 me-2"
                 *ngIf="!loading && !editHeadline && !profile?.headline">
              <nb-icon icon="info-outline" class="me-2"></nb-icon>
              Write a headline for your profile. This is a short sentence that describes your main skills or job. It
              helps others understand what you do quickly
            </p>
            <span class="me-2"
                  [class.placeholder]="loading"
                  [ngClass]="loading ? 'col-4' : ''"
                  *ngIf="!editHeadline && profile?.headline">
              {{profile?.headline}}
            </span>
            <!-- Edit Headline  -->
            <input nbInput
                   fieldSize="large"
                   class="me-2 col-6"
                   maxlength="200"
                   [id]="this.ProfileFormControls.Headline"
                   [formControlName]="this.ProfileFormControls.Headline"
                   *ngIf="editHeadline"/>
            <!-- / Edit Headline  -->
            <app-crud-buttons [config]="headlineCrudButtonsConfig"
                              [loading]="saving || loading"
                              (save)="onSave(this.ProfileFormControls.Headline)"
                              (edit)="editHeadline = true"
                              (cancel)="editHeadline = false"
                              *ngIf="!loading">
            </app-crud-buttons>
          </div>
          <!-- Skills -->
          <div class="mb-5">
            <!-- placeholder -->
            <p class="d-flex flex-row" *ngIf="loading">
              <span class="placeholder bg-secondary col-2 me-2"></span>
              <span class="placeholder bg-secondary col-2 me-2"></span>
              <span class="placeholder bg-secondary col-2"></span>
            </p>
            <!-- / placeholder -->
            <div *ngIf="!loading" class="d-flex flex-row align-items-center">
              <p class="text-hint small fst-italic d-flex align-items-start mb-0 me-2"
                 *ngIf="!editSkills && currentSkills.length === 0">
                <nb-icon icon="info-outline" class="me-2"></nb-icon>
                Display your main skills, pick up at least 5 skills you are best at.
              </p>
              <nb-tag-list [multiple]="true" class="me-2" (tagRemove)="deleteSkill($event)">
                <nb-tag status="primary" appearance="outline"
                        [text]="skill"
                        [removable]="editSkills"
                        *ngFor="let skill of currentSkills">
                </nb-tag>
                <input fullWidth nbTagInput required
                       type="text"
                       (tagAdd)="addSkill($event)"
                       [disabled]="saving"
                       *ngIf="editSkills">
              </nb-tag-list>
              <app-crud-buttons [config]="skillsCrudButtonsConfig"
                                [loading]="saving || loading"
                                (edit)="editSkills = true"
                                (cancel)="cancelSkills()"
                                (save)="onSave(this.ProfileFormControls.Skills)">
              </app-crud-buttons>
            </div>
          </div>
          <!-- Summary -->
          <div class="mb-5">
            <h5 class="d-flex align-items-center mb-3">
              <span class="me-2"
                    [class.placeholder]="loading">
                Summary
              </span>
              <app-crud-buttons [config]="summaryCrudButtonsConfig"
                                [loading]="saving || loading"
                                (save)="onSave(this.ProfileFormControls.Summary)"
                                (edit)="editSummary = true"
                                (cancel)="editSummary = false">
              </app-crud-buttons>
            </h5>
            <!-- placeholder -->
            <p *ngIf="loading">
              <span class="placeholder col-12"></span>
              <span class="placeholder col-12"></span>
              <span class="placeholder col-12"></span>
            </p>
            <!-- / placeholder -->
            <div class="text-hint small fst-italic d-flex align-items-start mb-2"
                 *ngIf="!loading && !editSummary && !profile?.summary">
              <nb-icon icon="info-outline" class="me-2"></nb-icon>
              Highlight your skills, years of experience, and achievements. Sharing your professional journey and key
              milestones can make your profile more engaging and attractive to potential clients.
            </div>
            <p class="lh-base" *ngIf="!loading && !editSummary && profile?.summary">
              {{profile?.summary}}
            </p>
            <!-- Edit Summary  -->
            <textarea nbInput fullWidth
                      [id]="this.ProfileFormControls.Summary"
                      fieldSize="large"
                      rows="6"
                      class="mb-2"
                      maxlength="2000"
                      [formControlName]="this.ProfileFormControls.Summary"
                      *ngIf="editSummary"></textarea>
            <!-- / Edit Summary  -->
          </div>
          <!-- Experiences -->
          <div class="mb-5">
            <h5 class="d-flex align-items-center mb-3">
              <span class="me-2"
                    [class.placeholder]="loading">
                Experience
              </span>
              <button nbButton ghost
                      status="primary"
                      type="button"
                      size="small"
                      shape="round"
                      [disabled]="loading || saving"
                      (click)="openExperienceDialog()">
                <nb-icon icon="plus-circle-outline"></nb-icon>
              </button>
            </h5>
            <!-- placeholder -->
            <div class="mb-4" *ngIf="loading">
              <p class="d-flex flex-column">
                <span class="placeholder col-3 mb-2"></span>
                <span class="placeholder bg-secondary col-1 mb-2"></span>
                <span class="placeholder col-12"></span>
              </p>
            </div>
            <!-- / placeholder -->
            <small class="text-hint small fst-italic d-flex align-items-start"
                   *ngIf="!loading && experiencesCrudButtons.length === 0">
              <nb-icon icon="info-outline" class="me-2"></nb-icon>
              Add your job experiences to highlight your practical skills and past successes. This will help potential
              clients understand your capabilities and track record.
            </small>
            <div class="mb-4" *ngFor="let experienceCrud of experiencesCrudButtons; let i = index">
              <p class="fw-semibold mb-0 d-flex align-items-center">
                <span class="me-2">
                  {{experienceCrud.experience.company | titlecase}}
                </span>
                <app-crud-buttons [config]="experienceCrud.config"
                                  [loading]="saving"
                                  (edit)="editExperience(experienceCrud.experience, i)"
                                  (delete)="deleteExperience(i)">
                </app-crud-buttons>
              </p>
              <div>
                <p class="mb-0">
                  {{experienceCrud.experience.position | titlecase}}
                </p>
                <p class="lh-base"
                   [innerHTML]="experienceCrud.experience.description"
                   *ngIf="experienceCrud.experience.description">
                </p>
                <p class="text-hint small fst-italic d-flex align-items-start mt-2"
                   *ngIf="!experienceCrud.experience.description">
                  <nb-icon icon="info-outline" class="me-2"></nb-icon>
                  Help us make your proposal shine! Add a detailed job description. It gives us valuable insights to
                  tailor your proposal.
                </p>
              </div>
            </div>
          </div>
          <!-- Education -->
          <div>
            <h5 class="d-flex align-items-center mb-3">
              <span class="me-2"
                    [class.placeholder]="loading">
                Education
              </span>
              <button nbButton ghost
                      type="button"
                      status="primary"
                      size="small"
                      shape="round"
                      [disabled]="loading || saving"
                      (click)="openEducationDialog()">
                <nb-icon icon="plus-circle-outline"></nb-icon>
              </button>
            </h5>
            <!-- placeholder -->
            <div class="mb-4" *ngIf="loading">
              <p class="d-flex flex-column">
                <span class="placeholder col-3 mb-2"></span>
                <span class="placeholder bg-secondary col-1 mb-2"></span>
                <span class="placeholder col-12"></span>
              </p>
            </div>
            <!-- / placeholder -->
            <small class="text-hint small fst-italic d-flex align-items-start"
                   *ngIf="!loading && educationsCrudButtons.length === 0">
              <nb-icon icon="info-outline" class="me-2"></nb-icon>
              Include your education details to showcase your qualifications and specialized skills. This will enhance
              your credibility and make you more appealing to potential clients
            </small>
            <div class="mb-4" *ngFor="let educationCrud of educationsCrudButtons; let i = index">
              <p class="fw-semibold mb-0 d-flex align-items-center">
                <span class="me-2">
                  {{educationCrud.education.institution}}
                </span>
                <app-crud-buttons [config]="educationCrud.config"
                                  [loading]="saving"
                                  (edit)="editEducation(educationCrud.education, i)"
                                  (delete)="deleteEducation(i)">
                </app-crud-buttons>
              </p>
              <p>
                {{educationCrud.education.degree}}
              </p>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-3 col-md-12">
      <nb-card>
        <nb-card-body class="m-1 pe-2">
          <!-- Languages -->
          <div class="mb-3">
            <h6 class="d-flex align-items-center text-warning-300">
              <span class="me-2"
                    [class.placeholder]="loading">
                Languages
              </span>
              <button nbButton ghost
                      status="primary"
                      size="small"
                      type="button"
                      shape="round"
                      [disabled]="loading"
                      (click)="openLanguageDialog()">
                <nb-icon icon="plus-circle-outline"></nb-icon>
              </button>
            </h6>
            <p class="text-hint small fst-italic d-flex align-items-start"
               *ngIf="!loading && languagesCrudButtons.length === 0">
              <nb-icon icon="info-outline" class="me-2"></nb-icon>
              By adding the languages you're fluent in, you can better inform clients about your language capabilities.
            </p>
            <ul class="d-flex flex-column">
              <li class="mb-1" *ngFor="let languageCrud of languagesCrudButtons; let i = index">
                <div class="d-flex flex-row align-items-center">
                  <div class="d-flex flex-column me-auto">
                    <span class="me-1" [class.me-auto]="!languageCrud.language.level">
                      {{languageCrud.language.language | titlecase}}
                    </span>
                    <small class="text-warning-300 me-2 me-auto" *ngIf="languageCrud.language.level">
                      ({{languageCrud.language.level | titlecase}})
                    </small>
                  </div>
                  <app-crud-buttons [config]="languageCrud.config"
                                    [loading]="saving"
                                    (edit)="editLanguage(languageCrud.language, i)"
                                    (delete)="deleteLanguage(i)" class="align-self-start">
                  </app-crud-buttons>
                </div>
              </li>
            </ul>
            <!-- placeholder -->
            <ul *ngIf="loading">
              <li>
                <span class="placeholder bg-secondary col-3"></span>
              </li>
              <li>
                <span class="placeholder bg-secondary col-3"></span>
              </li>
              <li>
                <span class="placeholder bg-secondary col-3"></span>
              </li>
            </ul>
          </div>
          <!-- Certifications -->
          <div>
            <h6 class="d-flex align-items-center text-warning-300">
              <span class="me-2"
                    [class.placeholder]="loading">
                Certifications
              </span>
              <button nbButton ghost
                      status="primary"
                      size="small"
                      shape="round"
                      type="button"
                      [disabled]="loading"
                      (click)="openCertificationDialog()">
                <nb-icon icon="plus-circle-outline"></nb-icon>
              </button>
            </h6>
            <p class="text-hint small fst-italic d-flex align-items-start"
               *ngIf="!loading && certificationsCrudButtons.length === 0">
              <nb-icon icon="info-outline" class="me-2"></nb-icon>
              Certifications validate your skills, proving your expertise in a specific area and helping you stand out
              from the crowd.
            </p>
            <ul class="lh-base">
              <li class="mb-1" *ngFor="let certificationCrud of certificationsCrudButtons; let i = index">
                <div class="d-flex flex-row align-items-center justify-content-start">
                  <small class="me-1 me-auto">
                    {{certificationCrud.certification}}
                  </small>
                  <app-crud-buttons [config]="certificationCrud.config"
                                    [loading]="saving"
                                    (edit)="editCertification(certificationCrud.certification, i)"
                                    (delete)="deleteCertification(i)">
                  </app-crud-buttons>
                </div>
              </li>
            </ul>
            <!-- placeholder -->
            <ul *ngIf="loading">
              <li>
                <span class="placeholder bg-secondary col-3"></span>
              </li>
              <li>
                <span class="placeholder bg-secondary col-3"></span>
              </li>
              <li>
                <span class="placeholder bg-secondary col-3"></span>
              </li>
            </ul>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</form>
