<nb-layout>
  <nb-layout-column class="p-0">
    <app-profile-form [profile]="profile$ | async"
                      [loading]="(loading$ | async) ?? false"
                      [saving]="(saving$ | async) ?? false"
                      [suggesting]="(suggesting$ | async) ?? false"
                      [savingVariant]="savingVariant$ | async"
                      [summaryVariants]="variants$ | async"
                      (save)="save($event)"
                      (suggestVariants)="suggestVariant($event)"
                      (approveVariant)="approveVariant($event)"
                      (cancelVariants)="cancelVariants()">
    </app-profile-form>
  </nb-layout-column>
</nb-layout>
