<nb-layout>
  <nb-layout-column class="p-0">
    <h2>
      {{'proposal.history.title' | translate}}
    </h2>
    <p class="pb-4 lead">
      {{'proposal.history.hint' | translate}}
    </p>

    <div class="mb-2" *ngFor="let jobHistory of (jobs$ | async) ?? []">
      <app-proposal-history [jobHistory]="jobHistory"
                            [loading]="(loading$ | async) ?? false"
                            (delete)="delete($event)">
      </app-proposal-history>
    </div>
    <div class="mt-4" role="alert" *ngIf="(jobs$ | async)?.length === 0">
      {{'proposal.history.no-history' | translate}}
      <a class="alert-link" (click)="create()">
        {{'proposal.history.here' | translate}}
      </a>
      {{'proposal.history.create' | translate}}
    </div>
  </nb-layout-column>
</nb-layout>
