<nb-layout>
  <nb-layout-column class="p-0 custom-layout">
    <h2 class="d-flex align-items-center">
      <span>
        {{'proposal.list.title' | translate}}
      </span>
      <button nbButton status="basic" shape="round" class="ms-auto" type="button" size="medium"
              (click)="openProposalDialog()"
              [disabled]="(loading$ | async) ?? false || (saving$ | async) ?? false">
        <nb-icon icon="edit-outline"></nb-icon>
      </button>
    </h2>

    <p class="pb-4 lead lh-sm">
      {{'proposal.list.hint' | translate}}
    </p>

    <app-proposal-list [job]="job$ | async"
                       [loading]="(loading$ | async) ?? false"
                       [saving]="(saving$ | async) ?? false"
                       (delete)="deleteProposal($event.job, $event.proposal)">
    </app-proposal-list>
  </nb-layout-column>
</nb-layout>
